In [1]:
# Imports

# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
# get nls csv files as a DataFrame
nls_df = pd.read_csv("nls4.csv")

In [3]:
#to approximate SAT/ACT scores, I'm going to just create a new variable that has 0s if there's an invalid answer and sum up their sat/act scores lmao
#I'm going to take the higher of their average SAT score vs their ACT score
nls_df["SAT_Score"] = (nls_df["Z9033700"][nls_df["Z9033700"] > 0] + nls_df["Z9033900"][nls_df["Z9033900"] > 0])/2
nls_df["ACT_Score"] = nls_df["Z9034100"][nls_df["Z9034100"] > 0]
#nls_df["SAT_Score2"] = nls_df["Z9033700"] + nls_df["Z9033900"]

In [4]:
nls_df["SAT_Score"] = nls_df["SAT_Score"].fillna(0)
nls_df["SAT_Score"] = np.ceil(nls_df["SAT_Score"])
nls_df["ACT_Score"] = nls_df["ACT_Score"].fillna(0)
nls_df["Max_Test_Score"] = nls_df[['SAT_Score','ACT_Score']].max(axis=1)

In [5]:
nls_df = nls_df.drop(["Z9033700", "Z9033900", "Z9034100", "SAT_Score", "ACT_Score"], axis = 1)

In [6]:
nls_df['Gender'] = nls_df['R0536300']
nls_df = nls_df[nls_df['R1482600'] != 3]
nls_df['Race'] = nls_df['R1482600']

In [7]:
nls_df['HS_Grad_Year'] = nls_df['E5221200']
nls_df['Undergrad_Finished'] = nls_df['Z9083900']

In [8]:
def poverty(x):
    if x == 1996:
        nls_df['PovertyRate'] = nls_df['R1204900']
        
    if x == 1997:
        nls_df['PovertyRate'] = nls_df['R2563500']
        
    if x == 1998:
        nls_df['PovertyRate'] = nls_df['R3885100']
        
    if x == 1999:
        nls_df['PovertyRate'] = nls_df['R5464300']
        
    if x == 2000:
        nls_df['PovertyRate'] = nls_df['R7228000']
        
    if x == 2001:
        nls_df['PovertyRate'] = nls_df['S1541900']
        
    if x == 2002:
        nls_df['PovertyRate'] = nls_df['S2011700']
        
    if x == 2003:
        nls_df['PovertyRate'] = nls_df['S3812500']
        
    if x == 2004:
        nls_df['PovertyRate'] = nls_df['S5412900']
        
    if x == 2005:
        nls_df['PovertyRate'] = nls_df['S7513800']
        
    if x == 2006:
        nls_df['PovertyRate'] = nls_df['T0014200']
        
    if x == 2007:
        nls_df['PovertyRate'] = nls_df['T2016300']
            
    if x == 2008:
        nls_df['PovertyRate'] = nls_df['T3606600']
        
    if x == 2009:
        nls_df['PovertyRate'] = nls_df['T5207000']
    #nls_df['PovertyRate'] = 0.02*nls_df['PovertyRate']

#def poor(a):
#    if nls_df['PovertyRate'] <= 2:
#        nls_df['Poor'] = 1
#    else:
#        nls_df['Poor'] = 0
#nls_df['HS_Grad_Year'] = 
#nls_df['HS_Grad_Year'] = nls_df['E5221200']

In [9]:
def finaid(x, y, z):
    if y == 2:
        if x == 1996:
            return z*1.33/23520

        if x == 1997:
            return z*1.29/24116

        if x == 1998:
            return z*1.27/25443

        if x == 1999:
            return z*1.25/26534

        if x == 2000:
            return z*1.22/27676

        if x == 2001:
            return z*1.17/29115

        if x == 2002:
            return z*1.16/31043

        if x == 2003:
            return z*1.13/32886

        if x == 2004:
            return z*1.11/34761

        if x == 2005:
            return z*1.08/34761

        if x == 2006:
            return z*1.04/36510

        if x == 2007:
            return z/38400

        if x == 2008:
            return z*0.97/40000
    elif y == 1:
        if x == 1996:
            return z*1.33/7792

        if x == 1997:
            return z*1.29/8210

        if x == 1998:
            return z*1.27/8625

        if x == 1999:
            return z*1.25/8912

        if x == 2000:
            return z*1.22/9321

        if x == 2001:
            return z*1.17/9948

        if x == 2002:
            return z*1.16/10604

        if x == 2003:
            return z*1.13/11679

        if x == 2004:
            return z*1.11/12588

        if x == 2005:
            return z*1.08/13424

        if x == 2006:
            return z*1.04/14203

        if x == 2007:
            return z/15000

In [10]:
#OOOOOKAY uh, we're going to eliminate people who finished highschool in 1995 because frankly we don't have the financial data from 1996
for a in nls_df['R0000100']:
    poverty(a)

In [11]:
nls_df['PovertyRate'] = 0.01*nls_df['PovertyRate']
#if poor, povertyrate = 0
for b in nls_df:
    nls_df.loc[nls_df['PovertyRate'] <= 2, 'PovertyRate'] = 0
    nls_df.loc[nls_df['Undergrad_Finished'] <= 3, 'Undergrad_Finished'] = 0

for c in nls_df:
    
    nls_df.loc[nls_df['Undergrad_Finished'] >= 4, 'Undergrad_Finished'] = 1
    nls_df.loc[nls_df['PovertyRate'] >= 2, 'PovertyRate'] = 1

In [12]:
#Okay pray for me, I'm about to go find the maximum financial aid each student receives, there's legit 55 of these variables.
#ARGHHHHHHH THIS HAS TO BE RELATIVE TO TUITION CHARGED ARGHHHHHH
nls_df["Max_Fin_Aid"] = nls_df[['R0054900','R1760200', 'R1760300', 'R1760400', 'R1760500', 'R3056100', 'R3056200', 'R3056300', 'R3056400', 'R3056500', 'R3056600', 'R3056700', 'R3056800', 'R3056900', 'R4336800', 'R4336900', 'R4337000', 'R4337100', 'R4337200', 'R4337300', 'R4337400', 'R4337500', 'R4337600', 'R6009400', 'R6009500', 'R6009600', 'R6009700', 'R6009800', 'R6009900', 'R6010000', 'R6010100', 'R6010200', 'S0416400', 'S0416500', 'S0416600', 'S0416700', 'S0416800', 'S0416900', 'S0417000', 'S0417100', 'S0417200', 'S0417300', 'S0417400', 'S2446400', 'S2446500', 'S2446600', 'S2446700', 'S2446800', 'S2446900', 'S2447000', 'S2447100', 'S2447200', 'S2447300', 'S2447400', 'S2447500']].max(axis=1)
nls_df = nls_df.drop(['R0054900','R1760200', 'R1760300', 'R1760400', 'R1760500', 'R3056100', 'R3056200', 'R3056300', 'R3056400', 'R3056500', 'R3056600', 'R3056700', 'R3056800', 'R3056900', 'R4336800', 'R4336900', 'R4337000', 'R4337100', 'R4337200', 'R4337300', 'R4337400', 'R4337500', 'R4337600', 'R6009400', 'R6009500', 'R6009600', 'R6009700', 'R6009800', 'R6009900', 'R6010000', 'R6010100', 'R6010200', 'S0416400', 'S0416500', 'S0416600', 'S0416700', 'S0416800', 'S0416900', 'S0417000', 'S0417100', 'S0417200', 'S0417300', 'S0417400', 'S2446400', 'S2446500', 'S2446600', 'S2446700', 'S2446800', 'S2446900', 'S2447000', 'S2447100', 'S2447200', 'S2447300', 'S2447400', 'S2447500'], axis = 1)

In [13]:
def collegetype(x):
    college = nls_df[['R1250600', 'R2609100','R2609200','R2609300','R2609400','R2609500',
                                    'R3939900','R3940000','R3940100','R3940200','R3940300','R5535400',
                                     'R5535500','R5535600','R5535700','R7295900','R7296000','R7296100',
                                     'R7296200','R7296300','R7296400','S1618800','S1618900','S1619000',
                                     'S1619100','S1999000','S1999100','S1999200','S1999300','S1999400',
                                    'S3799000','S3799100','S3799200','S3799300','S5399000','S5399100',
                                     'S5399200','S5399300','S7499000','S7499100','S7499200','S7499300',
                                     'S7499400','S9999000','S9999100','S9999200','S9999300','S9999400',
                                    'T1999000','T1999100','T1999200','T1999300','T1999400','T1999500',
                                     'T1999600','T1999700','T4939000','T4939100','T4939200','T5200100',
                                     'T5200200','T5200300','T5200400','T5200500','T6650100','T6650200',
                                     'T6650300','T6650400','T8122100','T8122200','T8122300','T8122400']].iloc[x]
    college = college[college != -3]
    college = college[college != -4]
    college = college[college != -5]
    try:
        nls_df['College_Type'].iloc[x] = college.mode()[0]
    except:
        nls_df['College_Type'][x] = 0

In [14]:
nls_df['College_Type'] = 0
for x in nls_df.index:
    collegetype(x)

C:\Users\Benjamin\Anaconda3\lib\site-packages\pandas\core\indexing.py:141: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Benjamin\Anaconda3\lib\site-packages\ipykernel\__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

IndexError: single positional indexer is out-of-bounds

nls_df['Poverty_Rate'] = nls_df.apply(lambda x: poverty(x['R1250600'], x['R2609100'],x['R2609200'],x['R2609300'],x['R2609400'],x['R2609500'],
                                    x['R3939900'],x['R3940000'],x['R3940100'],x['R3940200'],x['R3940300'],x['R5535400'],
                                     x['R5535500'],x['R5535600'],x['R5535700'],x['R7295900'],x['R7296000'],x['R7296100'],
                                     x['R7296200'],x['R7296300'],x['R7296400'],x['S1618800'],x['S1618900'],x['S1619000'],
                                     x['S1619100'],x['S1999000'],x['S1999100'],x['S1999200'],x['S1999300'],x['S1999400'],
                                    x['S3799000'],x['S3799100'],x['S3799200'],x['S3799300'],x['S5399000'],x['S5399100'],
                                     x['S5399200'],x['S5399300'],x['S7499000'],x['S7499100'],x['S7499200'],x['S7499300'],
                                     x['S7499400'],x['S9999000'],x['S9999100'],x['S9999200'],x['S9999300'],x['S9999400'],
                                    x['T1999000'],x['T1999100'],x['T1999200'],x['T1999300'],x['T1999400'],x['T1999500'],
                                     x['T1999600'],x['T1999700'],x['T4939000'],x['T4939100'],x['T4939200'],x['T5200100'],
                                     x['T5200200'],x['T5200300'],x['T5200400'],x['T5200500'],x['T6650100'],x['T6650200'],
                                     x['T6650300'],x['T6650400'],x['T8122100'],x['T8122200'],x['T8122300'],x['T8122400']), axis=1)

In [15]:
nls_df['FinAid'] = nls_df.apply(lambda x: finaid(x['HS_Grad_Year'], x['College_Type'], x['Max_Fin_Aid']), axis=1)
nls_df['FinAid'] = nls_df['FinAid'].fillna(0)

In [16]:
nls_df = nls_df[['R0000100', 'Undergrad_Finished', 'Max_Test_Score', 'Gender', 'Race', 'PovertyRate', 'Max_Fin_Aid', 'College_Type', 'HS_Grad_Year', 'FinAid']]

In [17]:
nls_df = nls_df[nls_df['HS_Grad_Year'] != -4]

In [18]:
nls_df.head()

,R0000100,Undergrad_Finished,Max_Test_Score,Gender,Race,PovertyRate,Max_Fin_Aid,College_Type,HS_Grad_Year,FinAid
0,1,1,4.0,2,4,0.0,10000,2,1998,0.499155
1,2,0,4.0,1,2,1.0,7000,1,1999,0.981822
2,3,0,2.0,2,2,0.0,-2,3,2000,0.000000
3,4,0,0.0,2,2,1.0,1680,1,1998,0.247374
4,5,0,4.0,1,2,1.0,-4,0,1999,0.000000

In [19]:
nls_df = nls_df[nls_df['College_Type'] != 3]

In [20]:
nls_df.groupby(['PovertyRate'], as_index=False).describe()

            R0000100  Undergrad_Finished  Max_Test_Score       Gender  \
0 count  3130.000000         3130.000000     3130.000000  3130.000000
  mean   4524.953035            0.228115        1.871885     1.521406
  std    2637.200674            0.419684        2.099295     0.499621
  min       1.000000            0.000000        0.000000     1.000000
  25%    2258.000000            0.000000        0.000000     1.000000
  50%    4575.000000            0.000000        0.000000     2.000000
  75%    6847.750000            0.000000        4.000000     2.000000
  max    9022.000000            1.000000        6.000000     2.000000
1 count  3322.000000         3322.000000     3322.000000  3322.000000
  mean   4223.189344            0.433775        2.616797     1.492474
  std    2509.354741            0.495669        2.123780     0.500019
  min       2.000000            0.000000        0.000000     1.000000
  25%    2071.250000            0.000000        0.000000     1.000000
  50%    4138.500000            0.000000        3.000000     1.000000
  75%    6289.750000            1.000000        4.000000     2.000000
  max    9021.000000            1.000000        6.000000     2.000000

                Race  PovertyRate    Max_Fin_Aid  College_Type  HS_Grad_Year  \
0 count  3130.000000       3130.0    3130.000000   3130.000000   3130.000000
  mean      2.706070          0.0    1534.161342      0.448243   1999.582748
  std       1.346561          0.0    4429.496517      0.594025      1.594881
  min       1.000000          0.0      -4.000000      0.000000   1994.000000
  25%       1.000000          0.0      -4.000000      0.000000   1998.000000
  50%       4.000000          0.0      -4.000000      0.000000   2000.000000
  75%       4.000000          0.0    1200.000000      1.000000   2001.000000
  max       4.000000          0.0  105000.000000      2.000000   2008.000000
1 count  3322.000000       3322.0    3322.000000   3322.000000   3322.000000
  mean      3.066526          1.0    2214.371162      0.573149   1999.386815
  std       1.239748          0.0    4695.576306      0.628713      1.522287
  min       1.000000          1.0      -4.000000      0.000000   1995.000000
  25%       2.000000          1.0      -4.000000      0.000000   1998.000000
  50%       4.000000          1.0      -4.000000      0.000000   1999.000000
  75%       4.000000          1.0    2500.000000      1.000000   2001.000000
  max       4.000000          1.0   85000.000000      2.000000   2008.000000

              FinAid
0 count  3130.000000
  mean      0.098792
  std       0.349464
  min      -0.000629
  25%       0.000000
  50%       0.000000
  75%       0.000000
  max       9.423768
1 count  3322.000000
  mean      0.147619
  std       0.422871
  min      -0.000683
  25%       0.000000
  50%       0.000000
  75%       0.074561
  max       9.996984

In [22]:
nls_df[(nls_df['College_Type'] == 0) & (nls_df['Max_Test_Score'] >= 6) & (nls_df['PovertyRate'] == 0)].count()

R0000100              34
Undergrad_Finished    34
Max_Test_Score        34
Gender                34
Race                  34
PovertyRate           34
Max_Fin_Aid           34
College_Type          34
HS_Grad_Year          34
FinAid                34
dtype: int64

In [38]:
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 0) & (nls_df['FinAid'] >= 0.75) ]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 0) & (nls_df['FinAid'] >= 0.75) ]['FinAid'].count())

R0000100              35
Undergrad_Finished    35
Max_Test_Score        35
Gender                35
Race                  35
PovertyRate           35
Max_Fin_Aid           35
College_Type          35
HS_Grad_Year          35
FinAid                35
dtype: int64
R0000100              71
Undergrad_Finished    71
Max_Test_Score        71
Gender                71
Race                  71
PovertyRate           71
Max_Fin_Aid           71
College_Type          71
HS_Grad_Year          71
FinAid                71
dtype: int64

In [40]:
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 1)]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 1)]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] <= 0.25) ]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] <= 0.25) ]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] >= 0.25) & (nls_df['FinAid'] <= 0.5)]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] >= 0.25) & (nls_df['FinAid'] <= 0.5)]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] >= 0.5) & (nls_df['FinAid'] <= 0.75)]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] >= 0.5) & (nls_df['FinAid'] <= 0.75)]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] >= 0.75) ]['FinAid'].count())
print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['FinAid'] >= 0.75) ]['FinAid'].count())

749
905
593
490
88
169
27
90
41
156

In [43]:
for x in range(0,7):
    print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Max_Test_Score'] == x) & (nls_df['PovertyRate'] == 0)]['FinAid'].count())
    print(nls_df[(nls_df['College_Type'] != 0) & (nls_df['Max_Test_Score'] == x) & (nls_df['PovertyRate'] == 1)]['FinAid'].count())
    y = nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 0) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    z = nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 0) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    print(y/(y+z))
    y = nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    z = nls_df[(nls_df['College_Type'] != 0) & (nls_df['Undergrad_Finished'] == 0) & (nls_df['PovertyRate'] == 1) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    print(y/(y+z))

437
393
0.153318077803
0.208651399491
3
1
0.0
0.0
33
32
0.333333333333
0.28125
191
246
0.387434554974
0.434959349593
334
502
0.464071856287
0.671314741036
176
383
0.5625
0.757180156658
64
97
0.734375
0.824742268041

In [47]:
for x in range(4,7):
    print(nls_df[(nls_df['Max_Test_Score'] == x) & (nls_df['College_Type'] == 1) & (nls_df['PovertyRate'] == 0)]['FinAid'].count())
    print(nls_df[(nls_df['Max_Test_Score'] == x) & (nls_df['College_Type'] == 1) & (nls_df['PovertyRate'] == 1)]['FinAid'].count())
    y = nls_df[(nls_df['Undergrad_Finished'] == 1)  & (nls_df['College_Type'] == 1) & (nls_df['PovertyRate'] == 0) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    z = nls_df[(nls_df['Undergrad_Finished'] == 0)  & (nls_df['College_Type'] == 1) & (nls_df['PovertyRate'] == 0) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    print(y/(y+z))
    y = nls_df[(nls_df['Undergrad_Finished'] == 1) & (nls_df['College_Type'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    z = nls_df[(nls_df['Undergrad_Finished'] == 0) & (nls_df['College_Type'] == 1) & (nls_df['PovertyRate'] == 1) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    print(y/(y+z))
    
    print(nls_df[(nls_df['Max_Test_Score'] == x) & (nls_df['College_Type'] == 2) & (nls_df['PovertyRate'] == 0)]['FinAid'].count())
    print(nls_df[(nls_df['Max_Test_Score'] == x) & (nls_df['College_Type'] == 2) & (nls_df['PovertyRate'] == 1)]['FinAid'].count())
    y = nls_df[(nls_df['Undergrad_Finished'] == 1) & (nls_df['College_Type'] == 2) & (nls_df['PovertyRate'] == 0) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    z = nls_df[(nls_df['Undergrad_Finished'] == 0) & (nls_df['College_Type'] == 2) & (nls_df['PovertyRate'] == 0) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    print(y/(y+z))
    y = nls_df[(nls_df['Undergrad_Finished'] == 1) & (nls_df['College_Type'] == 2) & (nls_df['PovertyRate'] == 1) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    z = nls_df[(nls_df['Undergrad_Finished'] == 0) & (nls_df['College_Type'] == 2) & (nls_df['PovertyRate'] == 1) & (nls_df['Max_Test_Score'] == x)]['FinAid'].count()
    print(y/(y+z))

289
437
0.429065743945
0.647597254005
45
65
0.688888888889
0.830769230769
133
307
0.533834586466
0.726384364821
43
76
0.651162790698
0.881578947368
42
60
0.690476190476
0.75
22
37
0.818181818182
0.945945945946

In [48]:
for x in range(4,7):
    print(x)

4
5
6

In [49]:
nls_df[(nls_df['College_Type'] == 0) & (nls_df['Max_Test_Score'] == 6)].count()

R0000100              85
Undergrad_Finished    85
Max_Test_Score        85
Gender                85
Race                  85
PovertyRate           85
Max_Fin_Aid           85
College_Type          85
HS_Grad_Year          85
FinAid                85
dtype: int64

In [ ]:
nls_df['College_Attended'] = nls_df[['R1250600', 'R2609100','R2609200','R2609300','R2609400','R2609500',
                                    'R3939900','R3940000','R3940100','R3940200','R3940300','R5535400',
                                     'R5535500','R5535600','R5535700','R7295900','R7296000','R7296100',
                                     'R7296200','R7296300','R7296400','S1618800','S1618900','S1619000',
                                     'S1619100','S1999000','S1999100','S1999200','S1999300','S1999400',
                                    'S3799000','S3799100','S3799200','S3799300','S5399000','S5399100',
                                     'S5399200','S5399300','S7499000','S7499100','S7499200','S7499300',
                                     'S7499400','S9999000','S9999100','S9999200','S9999300','S9999400',
                                    'T1999000','T1999100','T1999200','T1999300','T1999400','T1999500',
                                     'T1999600','T1999700','T4939000','T4939100','T4939200','T5200100',
                                     'T5200200','T5200300','T5200400','T5200500','T6650100','T6650200',
                                     'T6650300','T6650400','T8122100','T8122200','T8122300','T8122400']].max(axis=1)

In [ ]:
nls_df[nls_df['College_Attended'] > -3].count()

In [ ]:
#Now I'm about to do the fakkkkking tuition cost per term. ALSO I'M TOTALLY NEGLETCTING ANYTHING THAT'S NOT SEMESTER OR QUARTERLY SO WHOOPS
#okay you know what? no real school is quarterly, fuck it. will revisit as necessary
#this is a garbage approximation and I'm glad my boss will never see this
#UHHHHHHHHHHH. i'm going to ignore the cost of housing. Jesus will understand.
nls_df["Max_Tuition"] = nls_df[['R0051800','R0051900', 'R1734000', 'R1734100', 'R1734200', 'R1734300', 'R1734400', 'R1734500', 'R1734600', 'R1734700', 'R1734800', 
                                'R1734900', 'R1735000', 'R1735100', 'R3024900', 'R3025000', 'R3025100', 'R3025200', 'R3025300', 'R3025400', 'R3025500', 'R3025600', 
                                'R3025700', 'R3025800', 'R3025900', 'R4293600', 'R4293700', 'R4293800', 'R4293900', 'R4294000', 'R4294100', 'R4294200', 'R4294300', 
                                'R4294400', 'R4294500', 'R4294600', 'R4294700', 'R5958100', 'R5958200', 'R5958300', 'R5958400', 'R5958500', 'R5958600', 'R5958700', 
                                'R5958800', 'R5958900', 'R5959000', 'R5959100', 'R5959200', 'R5959300', 'R5959400', 'R5959500', 'R5959600', 'R5959700', 'R5959800', 
                                'R5959900', 'S0350400', 'S0350500', 'S0350600', 'S0350700', 'S0350800', 'S0350900', 'S0351000', 'S0351100', 'S0351200', 'S0351300', 
                                'S0351400', 'S0351500', 'S0351600', 'S0351700', 'S0351800', 'S0351900', 'S0352000', 'S0352100', 'S0352200', 'S0352300', 'S0352400', 
                                'S0352500', 'S4156700','S4156800','S4156900','S4157000','S4157100','S4157200','S4157300','S4157400','S4157500','S4157600','S4157700',
                                'S4157800','S4157900','S5738100', 'S5738200', 'S5738300', 'S5738400', 'S5738500', 'S5738600', 'S5738700', 'S5738800', 'S5738900', 
                                'S5739000', 'S5739100', 'S5739200', 'S5739300', 'S5739400', 'S5739500', 'S5739600', 'S5739700', 'S5739800', 'S5739900', 'S5740000', 
                                'S5740100', 'S5740200', 'S5740300', 'S5740400', 'S5740500', 'S5740600', 'S5740700', 'S5740800', 'S5740900', 'S5741000', 'S5741100', 
                                'S5741200', 'S5741300', 'S5741400', 'S5741500', 'S5741600', 'S5741700', 'S5741800', 'S5741900', 'S7820000', 'S7820100', 'S7820200', 
                                'S7820300', 'S7820400', 'S7820500', 'S7820600', 'S7820700', 'S7820800', 'S7820900', 'S7821000', 'S7821100', 'S7821200', 'S7821300', 
                                'S7821400', 'T0254300', 'T0254400', 'T0254500', 'T0254600', 'T0254700', 'T0254800', 'T0254900', 'T0255000', 'T0255100', 'T0255200',
                                'T0255300', 'T0255400', 'T0255500', 'T0255600', 'T0255700', 'T0255800', 'T0255900', 'T0256000', 'T0256100', 'T0256200', 'T0256300', 
                                'T0256400', 'T0256500', 'T2248600', 'T2248700', 'T2248800', 'T2248900', 'T2249000', 'T2249100', 'T2249200', 'T2249300', 'T2249400', 
                                'T2249500', 'T2249600', 'T2249700', 'T2249800', 'T2249900', 'T2250000', 'T2250100', 'T2250200', 'T2250300', 'T2250400', 'T2250500',
                                'T3806300', 'T3806400', 'T3806500', 'T3806600', 'T3806700', 'T3806800', 'T3806900', 'T3807000', 'T3807100', 'T3807200', 'T3807300',
                                'T3807400', 'T3807500', 'T3807600', 'T5425300', 'T5425400', 'T5425500', 'T5425600', 'T5425700', 'T5425800', 'T5425900', 'T5426000', 
                               'T5426100', 'T5426200', 'T5426300', 'T5426400', 'T5426500', 'T5426600', 'T5426700', 'T5426800', 'T5426900', 'T6847800', 'T6847900', 
                               'T6848000', 'T6848100', 'T6848200', 'T6848300', 'T6848400', 'T6848500', 'T6848600', 'T6848700', 'T6848800', 'T6848900', 'T6849000',
                               'T6849100', 'T8329900', 'T8330000', 'T8330100', 'T8330200', 'T8330300', 'T8330400', 'T8330500', 'T8330600', 'T8330700', 'T8330800',
                               'T8330900', 'T8331000', 'T8331100', 'T8331200', 'T8331300', 'T8331400', 'T8331500', 'T8331600', 'T8331700', 'T8331800', 'T8331900',
                               'T8332000', 'T8333300', 'T8333400', 'T8333500', 'T8333600', 'T8333700', 'T8333800']].max(axis=1)
#this is only up to 20034

In [ ]:
nls_df = nls_df.drop(['R0054900','R1760200', 'R1760300', 'R1760400', 'R1760500', 'R3056100', 'R3056200', 'R3056300', 'R3056400', 'R3056500', 'R3056600', 'R3056700', 'R3056800', 'R3056900', 'R4336800', 'R4336900', 'R4337000', 'R4337100', 'R4337200', 'R4337300', 'R4337400', 'R4337500', 'R4337600', 'R6009400', 'R6009500', 'R6009600', 'R6009700', 'R6009800', 'R6009900', 'R6010000', 'R6010100', 'R6010200', 'S0416400', 'S0416500', 'S0416600', 'S0416700', 'S0416800', 'S0416900', 'S0417000', 'S0417100', 'S0417200', 'S0417300', 'S0417400', 'S2446400', 'S2446500', 'S2446600', 'S2446700', 'S2446800', 'S2446900', 'S2447000', 'S2447100', 'S2447200', 'S2447300', 'S2447400', 'S2447500'], axis = 1)
nls_df = nls_df.drop(['R0051800','R0051900', 'R1734000', 'R1734100', 'R1734200', 'R1734300', 'R1734400', 'R1734500', 'R1734600', 'R1734700', 'R1734800', 
                                'R1734900', 'R1735000', 'R1735100', 'R3024900', 'R3025000', 'R3025100', 'R3025200', 'R3025300', 'R3025400', 'R3025500', 'R3025600', 
                                'R3025700', 'R3025800', 'R3025900', 'R4293600', 'R4293700', 'R4293800', 'R4293900', 'R4294000', 'R4294100', 'R4294200', 'R4294300', 
                                'R4294400', 'R4294500', 'R4294600', 'R4294700', 'R5958100', 'R5958200', 'R5958300', 'R5958400', 'R5958500', 'R5958600', 'R5958700', 
                                'R5958800', 'R5958900', 'R5959000', 'R5959100', 'R5959200', 'R5959300', 'R5959400', 'R5959500', 'R5959600', 'R5959700', 'R5959800', 
                                'R5959900', 'S0350400', 'S0350500', 'S0350600', 'S0350700', 'S0350800', 'S0350900', 'S0351000', 'S0351100', 'S0351200', 'S0351300', 
                                'S0351400', 'S0351500', 'S0351600', 'S0351700', 'S0351800', 'S0351900', 'S0352000', 'S0352100', 'S0352200', 'S0352300', 'S0352400', 
                                'S0352500', 'S4156700','S4156800','S4156900','S4157000','S4157100','S4157200','S4157300','S4157400','S4157500','S4157600','S4157700',
                                'S4157800','S4157900','S5738100', 'S5738200', 'S5738300', 'S5738400', 'S5738500', 'S5738600', 'S5738700', 'S5738800', 'S5738900', 
                                'S5739000', 'S5739100', 'S5739200', 'S5739300', 'S5739400', 'S5739500', 'S5739600', 'S5739700', 'S5739800', 'S5739900', 'S5740000', 
                                'S5740100', 'S5740200', 'S5740300', 'S5740400', 'S5740500', 'S5740600', 'S5740700', 'S5740800', 'S5740900', 'S5741000', 'S5741100', 
                                'S5741200', 'S5741300', 'S5741400', 'S5741500', 'S5741600', 'S5741700', 'S5741800', 'S5741900', 'S7820000', 'S7820100', 'S7820200', 
                                'S7820300', 'S7820400', 'S7820500', 'S7820600', 'S7820700', 'S7820800', 'S7820900', 'S7821000', 'S7821100', 'S7821200', 'S7821300', 
                                'S7821400', 'T0254300', 'T0254400', 'T0254500', 'T0254600', 'T0254700', 'T0254800', 'T0254900', 'T0255000', 'T0255100', 'T0255200',
                                'T0255300', 'T0255400', 'T0255500', 'T0255600', 'T0255700', 'T0255800', 'T0255900', 'T0256000', 'T0256100', 'T0256200', 'T0256300', 
                                'T0256400', 'T0256500', 'T2248600', 'T2248700', 'T2248800', 'T2248900', 'T2249000', 'T2249100', 'T2249200', 'T2249300', 'T2249400', 
                                'T2249500', 'T2249600', 'T2249700', 'T2249800', 'T2249900', 'T2250000', 'T2250100', 'T2250200', 'T2250300', 'T2250400', 'T2250500',
                                'T3806300', 'T3806400', 'T3806500', 'T3806600', 'T3806700', 'T3806800', 'T3806900', 'T3807000', 'T3807100', 'T3807200', 'T3807300',
                                'T3807400', 'T3807500', 'T3807600', 'T5425300', 'T5425400', 'T5425500', 'T5425600', 'T5425700', 'T5425800', 'T5425900', 'T5426000', 
                               'T5426100', 'T5426200', 'T5426300', 'T5426400', 'T5426500', 'T5426600', 'T5426700', 'T5426800', 'T5426900', 'T6847800', 'T6847900', 
                               'T6848000', 'T6848100', 'T6848200', 'T6848300', 'T6848400', 'T6848500', 'T6848600', 'T6848700', 'T6848800', 'T6848900', 'T6849000',
                               'T6849100', 'T8329900', 'T8330000', 'T8330100', 'T8330200', 'T8330300', 'T8330400', 'T8330500', 'T8330600', 'T8330700', 'T8330800',
                               'T8330900', 'T8331000', 'T8331100', 'T8331200', 'T8331300', 'T8331400', 'T8331500', 'T8331600', 'T8331700', 'T8331800', 'T8331900',
                               'T8332000', 'T8333300', 'T8333400', 'T8333500', 'T8333600', 'T8333700', 'T8333800'], axis = 1)

In [ ]:
test = nls_df[['R0051800','R0051900', 'R1734000', 'R1734100', 'R1734200', 'R1734300', 'R1734400', 'R1734500', 'R1734600', 'R1734700', 'R1734800', 
                                'R1734900', 'R1735000', 'R1735100', 'R3024900', 'R3025000', 'R3025100', 'R3025200', 'R3025300', 'R3025400', 'R3025500', 'R3025600', 
                                'R3025700', 'R3025800', 'R3025900', 'R4293600', 'R4293700', 'R4293800', 'R4293900', 'R4294000', 'R4294100', 'R4294200', 'R4294300', 
                                'R4294400', 'R4294500', 'R4294600', 'R4294700', 'R5958100', 'R5958200', 'R5958300', 'R5958400', 'R5958500', 'R5958600', 'R5958700', 
                                'R5958800', 'R5958900', 'R5959000', 'R5959100', 'R5959200', 'R5959300', 'R5959400', 'R5959500', 'R5959600', 'R5959700', 'R5959800', 
                                'R5959900', 'S0350400', 'S0350500', 'S0350600', 'S0350700', 'S0350800', 'S0350900', 'S0351000', 'S0351100', 'S0351200', 'S0351300', 
                                'S0351400', 'S0351500', 'S0351600', 'S0351700', 'S0351800', 'S0351900', 'S0352000', 'S0352100', 'S0352200', 'S0352300', 'S0352400', 
                                'S0352500', 'S4156700','S4156800','S4156900','S4157000','S4157100','S4157200','S4157300','S4157400','S4157500','S4157600','S4157700',
                                'S4157800','S4157900','S5738100', 'S5738200', 'S5738300', 'S5738400', 'S5738500', 'S5738600', 'S5738700', 'S5738800', 'S5738900', 
                                'S5739000', 'S5739100', 'S5739200', 'S5739300', 'S5739400', 'S5739500', 'S5739600', 'S5739700', 'S5739800', 'S5739900', 'S5740000', 
                                'S5740100', 'S5740200', 'S5740300', 'S5740400', 'S5740500', 'S5740600', 'S5740700', 'S5740800', 'S5740900', 'S5741000', 'S5741100', 
                                'S5741200', 'S5741300', 'S5741400', 'S5741500', 'S5741600', 'S5741700', 'S5741800', 'S5741900', 'S7820000', 'S7820100', 'S7820200', 
                                'S7820300', 'S7820400', 'S7820500', 'S7820600', 'S7820700', 'S7820800', 'S7820900', 'S7821000', 'S7821100', 'S7821200', 'S7821300', 
                                'S7821400', 'T0254300', 'T0254400', 'T0254500', 'T0254600', 'T0254700', 'T0254800', 'T0254900', 'T0255000', 'T0255100', 'T0255200',
                                'T0255300', 'T0255400', 'T0255500', 'T0255600', 'T0255700', 'T0255800', 'T0255900', 'T0256000', 'T0256100', 'T0256200', 'T0256300', 
                                'T0256400', 'T0256500', 'T2248600', 'T2248700', 'T2248800', 'T2248900', 'T2249000', 'T2249100', 'T2249200', 'T2249300', 'T2249400', 
                                'T2249500', 'T2249600', 'T2249700', 'T2249800', 'T2249900', 'T2250000', 'T2250100', 'T2250200', 'T2250300', 'T2250400', 'T2250500',
                                'T3806300', 'T3806400', 'T3806500', 'T3806600', 'T3806700', 'T3806800', 'T3806900', 'T3807000', 'T3807100', 'T3807200', 'T3807300',
                                'T3807400', 'T3807500', 'T3807600', 'T5425300', 'T5425400', 'T5425500', 'T5425600', 'T5425700', 'T5425800', 'T5425900', 'T5426000', 
                               'T5426100', 'T5426200', 'T5426300', 'T5426400', 'T5426500', 'T5426600', 'T5426700', 'T5426800', 'T5426900', 'T6847800', 'T6847900', 
                               'T6848000', 'T6848100', 'T6848200', 'T6848300', 'T6848400', 'T6848500', 'T6848600', 'T6848700', 'T6848800', 'T6848900', 'T6849000',
                               'T6849100', 'T8329900', 'T8330000', 'T8330100', 'T8330200', 'T8330300', 'T8330400', 'T8330500', 'T8330600', 'T8330700', 'T8330800',
                               'T8330900', 'T8331000', 'T8331100', 'T8331200', 'T8331300', 'T8331400', 'T8331500', 'T8331600', 'T8331700', 'T8331800', 'T8331900',
                               'T8332000', 'T8333300', 'T8333400', 'T8333500', 'T8333600', 'T8333700', 'T8333800', 'Max_Tuition', 'Max_Fin_Aid']]

In [ ]:
test['Max_Fin_Aid'].iloc[0]

In [ ]:
uhhh = nls_df[['R0054900','R1760200', 'R1760300', 'R1760400', 'R1760500', 'R3056100', 'R3056200', 'R3056300', 'R3056400', 'R3056500', 'R3056600', 'R3056700', 'R3056800', 'R3056900', 'R4336800', 'R4336900', 'R4337000', 'R4337100', 'R4337200', 'R4337300', 'R4337400', 'R4337500', 'R4337600', 'R6009400', 'R6009500', 'R6009600', 'R6009700', 'R6009800', 'R6009900', 'R6010000', 'R6010100', 'R6010200', 'S0416400', 'S0416500', 'S0416600', 'S0416700', 'S0416800', 'S0416900', 'S0417000', 'S0417100', 'S0417200', 'S0417300', 'S0417400', 'S2446400', 'S2446500', 'S2446600', 'S2446700', 'S2446800', 'S2446900', 'S2447000', 'S2447100', 'S2447200', 'S2447300', 'S2447400', 'S2447500']].iloc[0]

In [ ]:
uhhh